#dashboard-sidebar{

	background-color: #222222;

}

#dashboard-sidebar li a{
	color: grey;

}

#dashboard-sidebar li a:hover{
		background-color: black;
}

#dashboard-li-active{
		background-color: black;
}